@font-face {
    font-family: "Segoe Script";
    src: url("./ss.woff2") format("woff2");
}

body {
    background-color: black;
    color: white;
    
    .name {
        text-align: center;
        font-family: "Segoe Script", "monospace";
        font-size: 1.3em;
    }

    .pp {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 200px;
    }

    .intro {
        text-align: center;
        font-size: 1.5em;
        font-family: "monospace";
    }

    .desc {
        text-align: center;
        font-size: 1.6em;
        font-family: "monospace";
    }

    .l1 {
        background-color: white;
        color: white;
        height: 5px;
    }

    .d1 {
        .b1 {
            padding: 0px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            text-decoration: none;
            color: black;
            width: 105px;
            height: 55px;
            text-align: center;
            border-radius: 10px;
            line-height: 50px;
            font-family: "monospace";
            font-size: 1.5em;
        }
    }
}

/* Please say im bad at Sass */