body {
    background-color: black;
    color: white;
    
    .name {
        text-align: center;
        font-family: Segoe Script, monospace;
        text-size: 1.3em;
    }

    .pp {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 200px;
    }

    .intro {
        text-align: center;
        font-size: 1.5em;
        font-family: monospace;
    }

    .desc {
        text-align: center;
        font-size: 1.5em;
        font-family: monospace;
    }

}